body{
    background-color: powderblue;
    margin: 0;
    font-family: 'Macondo', cursive;
}
.card{
  /* height: 300px;
  width: 300px; */
  padding: 40px;
  background-color: dimgrey;
  color: #222;
  text-align: center;

}
.card:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20%{
        transform: translateY(-16px)
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-12px);
    }
    80%{
        transform: translateY(0px);
    }
}

.card-title{
    text-transform: uppercase;
    font-size: 20px;
    
}

.card-subtitle {
    font-weight: lighter;
    color: #667;
    margin-bottom: 0;
}

#pokedex{
    padding-inline-start: 0;
    
    display: grid;
    /*defines individal columns for grid  fr=fractual unit*/
    /* repeat is a css function */
    /* this will generate as many columns wide as it can based on a minimum of 320px and divide them evenly.  */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* puts a gap in between cards */
    grid-gap: 20px;
}

.container{
    padding: 10px;
    margin: 0 auto;

}
h1{
    text-align: center;
    font-size: 54px;
    
}